<body>
<header>
        <h1 style="text-align: center; font-size: 300%; margin-top: 1.5rem;">Heladeria El Negro</h1>
        <p style="text-align: center; font-size: 150%;  margin-bottom: 6rem;">En esta cuarentena, te llevamos tu helado hasta tu casa</p>
        <!--<hr style="margin-bottom: 5rem;">-->
</header>

<div class="row card">
  <div class="col card-body">
    <h5 class="col card-title" style="font-size: 350%;text-align: center; margin-top: 1.5rem;"><b>Trabaja con Nosotros</b></h5>
    <p class="col card-text" style="font-size: 200%;text-align: center; margin-bottom: 1.5rem;" >Heladeria El Negro te invita a ser parte del desafío de facilitar con alegría y compromiso la vida de las personas.</p>
    <p class="col card-text"></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-justify">
          <img src="https://images.ctfassets.net/yxlyq25bynna/15cAUivHRP9axMgzTaxpZA/ef9adf708ef4fb3f940892e17331f45a/Huella_Naranja__1_.jpg?fm=webp&q=70" class="col-md-auto rounded float-right" style="margin-top: 4rem;">
        <h2 class="row" style="margin-top: 4rem;">Nuestro ADN</h2>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-justify">
          <img src="https://images.ctfassets.net/yxlyq25bynna/15cAUivHRP9axMgzTaxpZA/ef9adf708ef4fb3f940892e17331f45a/Huella_Naranja__1_.jpg?fm=webp&q=70" class="col-md-auto rounded float-left" style="margin-top: 6rem;">
        <h2 class="row" style="margin-top: 6rem;">Nuestro ADN</h2>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
    </div>
  </div>
</div>


</body>