<body>
<header>
        <h1 style="text-align: center; font-size: 300%; margin-top: 1.5rem;">Heladeria El Negro</h1>
        <p style="text-align: center; font-size: 150%;">En esta cuarentena, te llevamos tu helado hasta tu casa</p>
        <!--<hr style="margin-bottom: 5rem;">-->
</header>


<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 150%">Trabaja con Nosotros</h5>
    <p class="card-text" style="font-size: 200%" >Heladeria El Negro te invita a ser parte del desafío de facilitar con alegría y compromiso la vida de las personas.</p>
    <p class="card-text"></p>
  </div>
</div>

<div class="row-12">
  <div class="col-12 text-truncate" >
      <h2 class="row-3" style="margin-top: 2rem;">Nuestro ADN </h2>
      <p class="col-4">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
      <p class="col-4">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
      <p class="col-4">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
  </div>
</div>


</body>