<body>
<header>
        <h1 style="text-align: center; font-size: 300%; margin-top: 1.5rem;">Heladeria El Negro</h1>
        <p style="text-align: center; font-size: 150%;  margin-bottom: 6rem;">En esta cuarentena, te llevamos tu helado hasta tu casa</p>
        <!--<hr style="margin-bottom: 5rem;">-->
</header>

<div class="row card">
  <div class="col card-body">
    <h5 class="col card-title" style="font-size: 350%;text-align: center; margin-top: 1.5rem;"><b>Trabaja con Nosotros</b></h5>
    <p class="col card-text" style="font-size: 200%;text-align: center; margin-bottom: 1.5rem;" >Heladeria El Negro te invita a ser parte del desafío de facilitar con alegría y compromiso la vida de las personas.</p>
    <p class="col card-text"></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-justify">
          <img src="https://negozona.com/uploads/picture/image/11796/5.jpg" class="col-md-auto rounded float-right" style="margin-top: 4rem;" height="425">
        <h2 class="row" style="margin-top: 4rem;">Nuestro ADN</h2>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-justify">
          <img src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.0-9/18194920_1877071369219577_5286730023516348711_n.jpg?_nc_cat=105&_nc_sid=9267fe&_nc_ohc=PKH9uX9d0FQAX_SGLHo&_nc_ht=scontent.faep9-2.fna&oh=f50ca2183354251341010cdeaf7795fa&oe=5EF55B1D" class="col-md-auto rounded float-left" style="margin-top: 6rem;" height="500">
        <h2 class="row" style="margin-top: 6rem;">Nuestro ADN</h2>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
        <p class="row">Sabemos que tenés ganas de desarrollarte y crecer en un equipo de trabajo transparente, abierto y expansivo.</p>
    </div>
  </div>
</div>


</body>