
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
            Heladeria El Negro
        </a>
    
        <button class="navbar-toggler" (click)="Mostrar()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" [ngClass]="{'collapse-exp': !expansion}" id="navbarTogglerDemo01">   
            <div class="navbar-nav mr-auto ml-auto text-center">
                <a class="nav-item nav-link active" href="#navbar">Home</a>
                <a class="nav-item nav-link" href="#Compras">Sucursales</a>
                <a class="nav-item nav-link" href="#Gustos">Productos</a>
                <a class="nav-item nav-link" href="#Comercio">Comercio</a>
                <a class="nav-item nav-link" href="#Tabla">Precios</a>
                <a class="nav-item nav-link" href="#Contacto">Contacto</a>
            </div>
        </div>
    </nav>

    <img class="imgFondo" src="https://github.com/FacuPetry/proyecto-facupetryszak/blob/master/images/Helados.jpg?raw=true" style="width: 100%; height: 400px; position: relative;">

    

    <footer id="sticky-footer" class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> Facundo Petryszak</a>
          </div>
      </footer>


</body>