
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="https://raw.githubusercontent.com/FacuPetry/proyecto-facupetryszak/44b1cceb708805fb568d8a56877a2b6560ba1222/images/menu.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Heladeria El Negro
        </a>
    
        <button class="navbar-toggler" (click)="Mostrar()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" [ngClass]="{'collapse-exp': !expansion}" id="navbarTogglerDemo01">   
            <div class="navbar-nav mr-auto ml-auto text-center">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="nosotros">Trabaja con Nosotros</a>
                <a class="nav-item nav-link" href="#Comercio">Comercio</a>
                <a class="nav-item nav-link" href="#Tabla">Precios</a>
                <a class="nav-item nav-link" href="ubicacion">Ubicacion</a>
                <a class="nav-item nav-link" href="#Contacto">Contacto</a>
            </div>
        </div>
    </nav>

<div class="contenedor">
    <img class="imgFondo" src="https://images.pexels.com/photos/2833671/pexels-photo-2833671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width: 100%; height: 600px; position: relative;">
  <div class="texto-encima">
        <h1 style="text-align: center; font-size: 400%; padding-left: .71429em; margin-top: 1.5rem;"><b>Heladeria El Negro</b></h1>
        <p style="text-align: center; font-size: 200%; padding-left: .71429em;">En esta cuarentena, te llevamos tu helado hasta tu casa</p>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
    

    <footer id="sticky-footer" class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> Facundo Petryszak</a>
          </div>
      </footer>


</body>