
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
            Heladeria El Negro
        </a>
    
        <button class="navbar-toggler" (click)="Mostrar()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" [ngClass]="{'collapse-exp': !expansion}" id="navbarTogglerDemo01">   
            <div class="navbar-nav mr-auto ml-auto text-center">
                <a class="nav-item nav-link active" href="#navbar">Home</a>
                <a class="nav-item nav-link" href="#Compras">Sucursales</a>
                <a class="nav-item nav-link" href="#Gustos">Productos</a>
                <a class="nav-item nav-link" href="#Comercio">Comercio</a>
                <a class="nav-item nav-link" href="#Tabla">Precios</a>
                <a class="nav-item nav-link" href="#Contacto">Contacto</a>
            </div>
        </div>
    </nav>

    <img class="imgFondo" src="https://github.com/FacuPetry/proyecto-facupetryszak/blob/master/images/Helados.jpg?raw=true" style="width: 100%; height: 400px; position: relative;">

    <header>
        <h1 style="text-align: center; font-size: 300%;">Heladeria El Negro</h1>
        <p style="text-align: center; font-size: 150%;">En esta cuarentena, te llevamos tu helado hasta tu casa</p>
        <hr style="margin-bottom: 5rem;">
    </header>


        <div class="container">
            <div class= "Compras"  id="Compras">
                <h1 style="text-align: center; font-size: 200%;">SUCURSALES</h1>
                <p style="text-align: center;">
                    Podes <b>comprar</b> todos los tipos y gustos de helados <del>desde cualquiera</del> de nuestras sucursales y <i>te lo llevamos</i> a tu casa 
                
                </p>

                    <ul class="list-group">
                        <li class="list-group-item text-center">Sucursal Centro</li>
                        <li class="list-group-item text-center">Sucursal Barrio Nuevo</li>
                        <li class="list-group-item text-center">Sucursal Barrio Viejo</li>

                    </ul>
            </div>

            <div class= "Gustos" id= "Gustos">
                <h1 style="text-align: center; font-size: 200%;">PRODUCTOS</h1>
                <p style="text-align: center;">Utilizamos <i>únicamente</i> <del>los mejores ingredientes y materias primas</del>, seleccionados cuidadosamente, <b>100% artesanal.</b></p> 
                
                    <ul class="list-group">
                        <li class="list-group-item text-center">Tramontana</li>
                        <li class="list-group-item text-center">Banana Split</li>
                        <li class="list-group-item text-center">Dulce de Leche</li>
                    </ul>

            </div>
            

            
            <div class= "Comercio" id= "Comercio">
                <h1 style="text-align: center; font-size: 200%;">COMERCIO</h1>
                <p style="text-align: center;">Si usted desea vender nuestros productos en <i>su negocio</i> <del>contamos con la posibilidad</del> de proveerle un producto <b>100% artesanal.</b> y de calidad.</p> 
                
                    <ul class="list-group">
                        <li class="list-group-item text-center">100% artesanal</li>
                        <li class="list-group-item text-center">Producto de Confianza</li>
                        <li class="list-group-item text-center">Amplia variedad de productos y sabores</li>
                    </ul>


                <hr style="margin-bottom: 5rem;">
            </div>




            <div class="container d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/menu.svg" style="width: 100%; height: 180px; position: relative; margin-top: 10px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><b>Nosotros</b></h5>
                  <p class="card-text"><b>Somos una empresa con mas de 20 años en el mercado</b>, brindando al cliente y a los negocios <i>adheridos los mejores</i> productos de calidad y servicios.</p>
                  <a href="#" class="btn btn-primary">Acceder</a>
                </div>
              </div>
            </div>

            <hr style="margin-bottom: 5rem;">


            <div class= "table-responsive table-hover" id= "Tabla">
                <h3 style="text-align: center; font-size: 150%;">COMPARATIVO DE PRECIOS</h3>


                <table class="table" width="100%" cellspacing="0.5" cellpadding="0.5">
                    <tr style="text-align: center;" >
                        <th colspan="3"><p>Precios de los diferentes Productos por <i>kilo</i> de helado </p></th>
                    </tr>
                    <tr style="text-align: center;">
                        <td><b>Cantidad Kgs.</b></td>
                        <td><b>Precio</b></td>
                        <td><b>Cantidad Gustos</b></td>
                    </tr>
                    <tr style="text-align: center;" >
                        <td>1 <b>Kilo</b> de helado</td>
                        <td>$500</td>
                        <td>Hasta 4 Gustos</td>
                    </tr>
                    <tr style="text-align: center;" >
                        <td><sub>1/2</sub> <b>Kilo</b> de helado</td>
                        <td>$300</td>
                        <td>Hasta 3 Gustos</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td><sub>1/4</sub> <b>Kilo</b> de helado</td>
                        <td>$200</td>
                        <td>Hasta 2 Gustos</td>
                    </tr>
                </table>


                
            </div>











        <div class="Contacto" id="Contacto">
            <h1 style="text-align: center; font-size: 200%;">CONTACTO</h1>
            <hr style="margin-bottom: 5rem;">
            <div class="row">
                <div class="col-6">
                    <form>  
                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="fname">Nombre:</label>
                            <input class="form-control col-10" type="text" id="fname" name="fname" placeholder="Tu nombre..">
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="lname">Apellido:</label>
                            <input class="form-control col-10" type="text" id="lname" name="lname" placeholder="Tu apellido..">
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="country">Pais:</label>
                            <select class="form-control col-10" id="country" name="country">
                            <option value="argentina">Argentina</option>
                            <option value="usa">Estados Unidos</option>
                            <option value="brasil">Brasil</option>
                            </select>
                        </div>

                        <div class="form-group row">
                            <label  class="col-2 col-form-label" for="subject">Mensaje:</label>
                            <textarea class="form-control col-10" id="subject" name="subject" placeholder="Escriba un comentario.." style="height:170px"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Enviar</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer id="sticky-footer" class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> Facundo Petryszak</a>
          </div>
      </footer>


</body>