h1 {
  text-align: center; 
  font-size: 300%; 
  margin-top: 3rem;
}

p {
  text-align: center;
  font-size: 105%;
}

h5.card-title{
  text-align: left;
  font-size: 150%;
}

p.card-text {
 text-align: justify;
  font-size: 100%;
}

h3 {
  text-align: center; 
  font-size: 200%;
  margin-bottom: 3rem;
}

tr.tr-texto {
  text-align: center;
}

.card-deck {
 margin-top: 3rem;
}

.list-group {
  margin-left: 1.5rem;
}

.card-img-top{
  width: responsive;
  height: 200px;
}

h5.titulo-trabaja{
  text-align: left;
  font-size: 250%;
}

p.texto-trabaja{
  text-align: justify;
  font-size: 115%;
}

.img-top{
  width: 500px; 
  height: 180px; 
  position: relative; 
  margin-top: 10px;
}




.button{
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #4589e0, #0d61cf);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    float: left;
}

.button:hover {
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #1c6bd1, #005acf);
}