
    <div class="container">

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/684968/pexels-photo-684968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">SUCURSALES</h5>
              <p class="card-text">Podes <b>comprar</b> todos los tipos y gustos de helados desde cualquiera de nuestras sucursales y te lo llevamos a tu casa </p>
              
                <ul class="list-group">
                    <li>Sucursal Centro</li>
                    <li>Sucursal Barrio Nuevo</li>
                    <li>Sucursal Barrio Viejo</li>
                </ul>
                
            </div>
            
                <a href="nosotros" type="submit" class="button btn btn-primary">Conocer Mas</a> 
          </div>
          <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/3631/summer-dessert-sweet-ice-cream.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PRODUCTOS</h5>
              <p class="card-text">Utilizamos <b>únicamente</b> los mejores ingredientes y materias primas, seleccionados cuidadosamente, <b>100% artesanal.</b></p>

              
              <ul class="list-group">
                  <li>Tramontana</li>
                  <li>Banana Split</li>
                  <li>Dulce de Leche</li>
              </ul>

            </div>
            
            <a href="nosotros" type="submit" class="button btn btn-primary">Conocer Mas</a> 
          </div>
          <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/749102/pexels-photo-749102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">COMERCIO</h5>
              <p class="card-text">Si usted desea vender nuestros productos en su negocio contamos con la posibilidad de proveerle un producto <b>100% artesanal.</b> y de calidad.</p>

              
                <ul class="list-group">
                    <li>100% artesanal</li>
                    <li>Producto de Confianza</li>
                    <li>Amplia variedad de productos y sabores</li>
                </ul>

                
            </div>
            
                <a href="comercio" type="submit" class="button btn btn-primary">Conocer Mas</a> 
          </div>
        </div>

    <hr style="margin-bottom: 5rem;">


        <div class= "table-responsive table-hover" id= "Tabla">
            <h3>COMPARATIVO DE PRECIOS</h3>


            <table class="table" width="100%" cellspacing="0.5" cellpadding="0.5">
                <thead class="thead-dark">
                <tr class="tr-texto">
                    <th><b>Cantidad Kgs.</b></th>
                    <th><b>Precio</b></th>
                    <th><b>Cantidad Gustos</b></th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-texto">
                    <th>1 <i>Kilo</i> de helado</th>
                    <td>$500</td>
                    <td>Hasta 4 Gustos</td>
                </tr>
                <tr class="tr-texto">
                    <th><sub>1/2</sub> <i>Kilo</i> de helado</th>
                    <td>$300</td>
                    <td>Hasta 3 Gustos</td>
                </tr>
                <tr class="tr-texto">
                    <th><sub>1/4</sub> <i>Kilo</i> de helado</th>
                    <td>$200</td>
                    <td>Hasta 2 Gustos</td>
                </tr>
                </tbody>
            </table>


            
        </div>

        <hr style="margin-top: 5rem;">

        <div class="container d-flex justify-content-center">
            <img class="img-top" src="https://raw.githubusercontent.com/FacuPetry/proyecto-facupetryszak/44b1cceb708805fb568d8a56877a2b6560ba1222/images/menu.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="titulo-trabaja"><b>Trabaja con Nosotros</b></h5>
              <p class="texto-trabaja">La esencia de <b>El Negro</b>, su ADN, se refleja en la alegría de <b>trabajar en equipos</b>, con metas claras y motivadoras.</p>
              <a href="nosotros" class="btn btn-primary">Conocer Mas</a>
            </div>
        </div>
      
        <hr style="margin-bottom: 5rem;">




    <div class="Contacto" id="Contacto">
        <h1 class="title-contac">CONTACTO</h1>
        <div class="row">
            <div class="col">
                <form>  
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="fname">Nombre:</label>
                        <input class="form-control col-8" type="text" id="fname" name="fname" placeholder="Tu nombre..">
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="lname">Apellido:</label>
                        <input class="form-control col-8" type="text" id="lname" name="lname" placeholder="Tu apellido..">
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="country">Pais:</label>
                        <select class="form-control col-8" id="country" name="country">
                        <option value="argentina">Argentina</option>
                        <option value="usa">Estados Unidos</option>
                        <option value="brasil">Brasil</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label  class="col-2 col-form-label" for="subject">Mensaje:</label>
                        <textarea class="form-control col-8" id="subject" name="subject" placeholder="Escriba un comentario.." style="height:170px"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button> 
                </form>
            </div>
        </div>
    </div>
</div>
