<body>

  <div class="row card-titulo"  >
    <div class="col card-body">
      <img class="card-img-top" src="https://images.pexels.com/photos/749102/pexels-photo-749102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
      <h5 class="col card-title"><b>Criterios de selección</b></h5>
      <p class="col card-text">Si desea comercializar nuestros productos en su local, ahora cuenta con la posibilidad de hacerlo a través de nuestra nueva propuesta</p>
    </div>
  </div>

  <div class="row card"  >
    <div class="col card-body">
      <img class="card-img-top" src="https://images.pexels.com/photos/1352271/pexels-photo-1352271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
      <h5 class="col propuesta-title"><b>Nuestra Propuesta</b></h5>
      <p class="col propuesta-text">Para que usted pueda disponer de un freezer con productos <b>El Negro</b> en su comercio</p>
      <p class="col propuesta-text">es necesario:</p>
      <ul>
        <li>Contar con un espacio mínimo de de 1,08 m x 0,61 m para la instalación del freezer.</li>
        <li>Cumplir con las normas previstas por <b>El Negro</b>, es decir, que se exhiban correctamente las piezas publicitarias y el material promocional provistos.</li>
        <li>Respetar los precios de venta definidos por <b>El Negro</b>.</li>
        <li>Cumplir con las indicaciones del distribuidor en cuanto a la capacidad de stock (completa en volumen y variedad de productos).</li>
        <li>Firmar un contrato de comodato por el uso del freezer. El mismo indica la exclusividad de uso para los productos <b>El Negro</b>.</li>
      </ul>


    </div>
  </div>

   <div class="row card-contacto">
    <div class="col card-body">
      <h5 class="col card-title">Pasos a seguir para la instalación de un Freezer El Negro</h5>
      <p class="col card-text">1. Completar el Formulario de contacto, ingresando sus datos correctamente.</p>
      <p class="col card-text">2. Aguardar el contacto del representante de Grido de su zona para evaluar la viabilidad del negocio.</p>
      <p class="col card-text">3. Firmar el contrato de comodato para iniciar la relación comercial.</p>

      
      <a href="contacto" type="submit" class="button btn btn-primary">Conocer Mas</a> 
    </div>
  </div>


</body>